/*THIS IS MY CSS PAGE FOR THE KNIGHT TIMELINE AND JUXTAPOSE*/

h1{
	font-family: 'Instrument Sans', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}