body {background-color:#f1b6ad;}

title {font-family: 'Peralta', cursive;}

h1 {color: #f16161;
font-weight:300;
font-size:  70px} 
h1 {font-family: 'Peralta', cursive;}

h2 {color: antiquewhite;
font-weight: 300;
font-size:  30 px
font-family: 'Oswald', sans-serif;}

h3 {color:  #f16161;
	font-weight: 300;
font-size:  30px}
h3 {font-family: 'Peralta', cursive;}

p {color:antiquewhite;
font-size: 25px}

.paragraph1 {
	color: antiquewhite;
	font-size:  25px;
} 

a {color: #f16161;
text-decoration:  none;
font-size: 20px }

a:hover {color: deeppink;}

/* THIS IS A CSS COMMENT */
